body {
  background color: light grey
  font family: 'Poiret one', sans-serif;
}

h1, h2 {
  font-family: 'Poiret one', sans-serif;
}

img {
  margin-left: auto; 
  margin-right: auto;
  width: 12em;
  display: circle;
}
   
  
  
