body {
  background-color: #F1EEEE
  
  font-family: 'Poiret one', serif;
}

h1, h2 {
  font-family: 'Poiret one', serif;
}

p {
  font-family: 'Poiret one', serif;
}

img {
  margin-left: auto; 
  margin-right: auto;
  width: 12em;
  display: block;
}
